html {
	height: 100%;
	background-image: url("../images/hancock.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}

body {
	height: 100%;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input {
	padding: 5px;
}

select{
	padding: 5px;
}

textarea{
	width:80%;
	height:100px;
}
button{
	width:125px;
	padding:5px;
}

.back-button{
	margin-left:20px;
	margin-right:40px;
}

#navbar {
	background-color: #CF2828;
	left: 0; 
	top: 0;
	position: fixed;
	width: 100%;
  	margin: 0;
  	z-index: 2;
}


#navbar li {
	display: inline-block;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:40px;
	padding-right:40px;
}

#navbar li:hover{
	background-color: #BE1717;

}

.current{
	background-color: #BE1717;

}

#navbar a {
	color: #FFFFFF;
	text-decoration: none;
}

#mainForm {
	min-height: 100%;
	width: 65%;
    padding-bottom:100px;
    margin-top: 58px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
	background-color: #FFFFFF;
	z-index: 1; 
	position: relative; 
}

#mainForm h1, p, h3{
	padding-top: 10px;
	padding-left: 25px;
}

#mainForm table {
	margin: 5px;
}

#mainForm table, th, td{
	border-collapse: collapse;
	border: 1px solid;
}
#mainForm #admin-login table, th, td{
	border-collapse: collapse;
	border: 0px solid;
}


#mainForm th, td {
	padding: 10px;
}